@tailwind base;

@tailwind components;

@tailwind utilities;

/* Customization of the styling of tailwind's "prose" class */

.prose.dark h2,
.prose.dark h1 {
  @apply text-gray-100;
}

.prose a {
  background-image: none !important;
  @apply text-teal-500;
}

.prose.dark a {
  text-shadow: none !important;
}

.prose strong {
  @apply text-teal-500;
}

.prose.dark blockquote {
  @apply text-gray-500;
}

/* Apply styles based on the class that <body /> has */

body {
  zoom: 80%;
}

body.light {
  @apply bg-gray-100;
}

body.dark {
  @apply bg-gray-900;
}
