@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  zoom: 70%;
}

.prose.dark h2,
.prose.dark h1 {
  color: #f7fafc;
}

.prose a {
  background-image: none !important;
  color: #38b2ac;
}

.prose.dark a {
  text-shadow: none !important;
}

.prose strong {
  color: #38b2ac;
}
